<footer>
  <div class="flex justify-between items-center p-4 bg-gray-800 text-white">
    <div class="flex justify-center gap-x-6 md:order-2">
        <a class="underline hover:text-blue-400" href="https://github.com/Davi-ACS/DeckVerse">Github</a>
    </div>
    <p class="mt-8 text-center text-sm/6  md:order-1 md:mt-0">
      &copy; 2025 DeckVerse, Inc. All rights reserved.
    </p>
  </div>
</footer>