@import "tailwindcss";
@import "basecoat-css";
@source "../views";



.label-input{
    @apply block mb-2 text-lg font-medium text-gray-900 dark:text-white;
}

.input-text{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full h-1/2 p-2.5;
}

.input-select{
    @apply bg-white border border-gray-300 text-black font-semibold text-sm rounded-lg block w-full h-1/2 p-2.5;
}

.input-select-option{
    @apply w-full p-2.5 text-gray-900 bg-white border-b border-gray-200;
}

.input-bttn{
    @apply mt-4 hover:cursor-pointer text-white font-bold py-2 px-4 rounded;
}