<!DOCTYPE html>
<html class="h-full">
<head>
  <meta charset="utf-8">
  <title>{{ title || "Your default title" }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body class="h-full">
  <div class="min-h-full">
    @include('components/layout/partials/header')
    <div class="py-10">
      <main>
          {{{ await $slots.main() }}}
      </main>
    </div>
  </div>
  @include('components/layout/partials/footer')
</body>
<script src= {{ js || '/resources/js/app.js' }} > </script>
</html>